*{
  box-sizing: border-box;
}
body{
  padding: 40px;
  background-color: #dedede;
  overflow-x: hidden;
  font-family: helvetica, sans-serif;
}
header{
	width:100%;
	background:#1d1f20;
	height:60px;
	line-height:60px;
}


img{
  display: block;
  width: 100%;
}
.app-container {
   margin: 0;
   width: 100%;
   }
.column-container{

}
.column-header{
   font-size: medium;
   display: inline-block;
   width: 100%;
   margin: 0px;
   }
   .header{
      width: 100%;
      margin: 0;
      padding: 0;
      background: #333;
      display: inline-block;
   }
      .header img{
         vertical-align: middle;
         display: inline-block;
      }
      .logo{
         width: 100px;
      }
      .label{
        width: 500px;
        }
      .navbar {
        font-size: medium;
        width: 100%;
        margin: 0;
        padding: 0;
         }
      .navbar > *{
         background-color: #FCF7E5;
         }
      .navbar a{
        text-decoration: none;
        }
      .home{
         width: 15%;
         }
      .about{
         width: 15%;
         }
      .mfah{
         width: 50%;
         }
.column-container-left{
      display: inline-block;
      font-size: medium;
      vertical-align: top;
      width: 70%;

      }
         .about-paragraph{
            font-size: medium;
            display: inline-block;
            width: 100%;
         }
         .legacy-container{
            font-size: medium;
            display: inline-block;
            width: 100%;
             }
         .legacy-paragraph{
            display: inline-block;
            width:100%;
            font-size: medium;
            }

         .legacy-future-container{
            font-size: medium;
            display: inline-block;
            vertical-align: top;
            width: 100%;

            }
            .future-paragraph{
               font-size: medium;
               display: inline-block;
               width: 50%;
               }
            .legacy-future-pic{
               display: inline-block;
               vertical-align: top;
               width: 39%;
            }
            .legacy-future img{
               font-size: medium;
               width: 350px;
            }

            .future-paragraph a {
               text-decoration: none;
               width: 50%;
               }


.column-container-right {
   display: inline-block;
   width: 29%;

}
      .column-events{
         width: 100%;
         }
         .event1{
            font-size: medium;
            display: inline-block;
            width: 100%;
            vertical-align: top;
            }
         .image1{
            display: inline-block;
            width: 25%;
            max-width: 60px;
            vertical-align: top;
            padding-top: 20px;
            }
         .films{
            display: inline-block;
            width: 69%;
            font-size: small;
            vertical-align: top;
            padding: 10px;
            border-bottom: dotted 3px lightgrey;
            }
         .event2{
            display: inline-block;
            vertical-align: top;
            width: 100%;
            }
         .image2{
            display: inline-block;
            padding-top: 15px;
            vertical-align: top;
            max-width: 60px;
            width: 25%;
            }
         .programs{
            display: inline-block;
            font-size: small;
            vertical-align: top;
            width: 69%;
            padding: 10px;
            border-bottom: 3px dotted lightgrey;
            }
         .event3{
            display: inline-block;
            vertical-align: top;
            width: 100%;
            }
         .image3{
            display: inline-block;
            padding-top: 25px;
            vertical-align: top;
            max-width: 60px;
            width: 25%;
            }
         .activities {
            display: inline-block;
            font-size: small;
            width: 69%;
            padding: 10px;
            padding-top: 20px;
            border-bottom: 3px dotted lightgrey;
            }
         .column-image h2{
            margin: 0px;
            padding: 0;
            }
         .column-image p{
            margin: 0;
            padding: 0;
            }
         .column-image h4{
            margin: 0;
            padding: 0;
            padding-top: 10px;
            }
         .column-image span{
            color: #7E7BB9;
            }
         .view-all{
               text-align: right;
               }
         .view-all a{
               text-decoration: none;
               }
.glassell-container{
   display: inline-block;
   width: 100%;
}
         .glassell-image{
            display: inline-block;
            vertical-align: top;
            width: 20%;
            }
         .glassell-image img{
            width: 100%;
            }
         .glassell-paragraph{
            display: inline-block;
            margin: 0 0 0 10px;
            width: 40%;
            }
         .glassell-paragraph h3{
            margin: 0 0 0 5px;
}
.footer{
   display: inline-block;
   width: 100%;
   margin: 0;
}
         .footer span{
            color: #F00;
            }
         .main{
            display: inline-block;
            width: 35%;
            }
         .info{
            display: inline-block;
            width: 25%;
            }
         .signup{
            display: inline-block;
            width: 17%;
            }
         .profile{
            display: inline-block;
            width: 20%;
            }
.ticket-box{
   position: fixed;
   bottom: 100px;
   right: 10px;
   background: #3A539B;
   width: 25%;
   color: white;
}
         .ticket-box input{
            width: 85%;
            padding-left: 2px;
            padding-right: 2px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            vertical-align: middle;
            }
         .ticket-box form {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;

            }
         .ticket-box button{
            margin: 0;
            }
         .ticket-box i{
            padding-right 5px;
            color: red;
            margin-left: 10px;
            padding: 1px;
            }

@media screen and (max-width: 768px){
   .tablet-colapse{
      width: 100%;
      margin-right 0;
   }
   .legacy-future-pic{
      width: 75%;
   }
   .glassell-image{
      width: 75%;
   }
   .image1{
      justify-content: center;
   }

   .ticket-box{
      position: inherit;
      width: auto;
      bottom: 150px;
      margin: 0 5 0 0 :
      padding: 5px;
   }
}


@media screen and (max-width: 480px){
   .mobile-colapse{
      width: 100%;
      margin-right 15px;

   }
   .mfah{
      width: auto;
   }
   #label{
      display: none;
   }
   .footer{
      margin: 0;
      width: 100%;
      }
   .footer li{
      text-decoration: none;
      display: inline;
      margin: 0;
      font-size: small;
   }
   .info{
      padding-bottom: 20px;
   }
   .ticket-box{
      position: inherit;
      width: auto;
   }
}
